<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>ARTICLES PAGE</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="lib/react.js">  </script>
        <script src="lib/react-dom.js">  </script>
        <script src="lib/babel-browser.js">  </script>
        <script src="lib/superagent.js">  </script>
        <link href="/css/bootstrap.min.css" rel="stylesheet"/>
        
    
    </head>
    <body xmlns:th="http://www.thymeleaf.org" class="container">
        <nav class="navbar navbar-inverse">
        <div class="container-fluid">
        <div class="navbar-header">

        <a class="navbar-brand" href="#">AAPA</a>
      </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       <ul class="nav navbar-nav">
          <li ><a th:href="@{/}">Accueil<span class="sr-only">(current)</span></a></li>
          <li><a th:href="@{/LesQuestions}">Questions</a></li>
            <li ><a th:href="@{/ListPub}">Publications</a></li>
              <li><a th:href="@{/GestCoor}">Coordonnées</a></li>
          <li><a th:href="@{/gestionfiles}">Gestion Des Dossiers</a></li>
            <li><a th:href="@{/Seedonations}">Liste Des Dons</a></li>
              <li class="active"><a th:href="@{/gestionstock}">Gestion Du Stock</a></li>

        </ul>


        <ul class="nav navbar-nav navbar-right">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Plus<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
        
        
        
        
        <div id="iddiv">mon div test </div>
        
     <!--   <script >  
        alert(React.version);
        </script>   -->
        <script src="lib/appliArticles.jsx" type="text/babel">         </script>
        
        
    </body>
</html>
