<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>AJOUT D'UN BENEFICIARE</title>
        <meta charset="windows-1252" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body xmlns:th="http://www.thymeleaf.org">
        
        <form  th:action="@{'/seefiles/' + ${file.idFile}}" >
        <input type="submit" value="goback"/>
        </form>  
        complete the fields bellow and click on add

        
        
        <div>********************************************************</div>
       <form   th:object="${benef}" th:action="@{/addBeneficiary}" method="post">
           <input type="hidden" name="id" th:value="${file.idFile}" />
        <div> beneficiary Name     <input type="text" th:field="*{beneficiaryName}"  />    </div> 
        <div> beneficiary First Name     <input type="text" th:field="*{beneficiaryFirstName}"  />    </div> 
        <div> beneficiary Date Of Birth     <input type="date" th:field="*{beneficiaryDateOfBirth}"  />    </div>
        <div> beneficiary Place Of Birth     <input type="text" th:field="*{beneficiaryPlaceOfBirth}"  />    </div>
        <div> beneficiary Situation       <input type="text" th:field="*{beneficiarySituation}"  />      </div>
        <div> Observation  <input type="text" th:field="*{observation}"  /> </div>
       <input type="submit" value="ADD"/>
       </form> 
        <div>********************************************************</div> 
       
        
</body>
</html>
