<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://thymeleaf.org">
    <head>
        <title> Gestion PA</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    </head>
    <body class="container">

      <!--nav class="navbar navbar-inverse"-->
        <nav class="navbar navbar-inverse">
        <div class="container-fluid">
        <div class="navbar-header">

        <a class="navbar-brand" href="#">AAPA</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a th:href="@{/GPA/}">Accueil<span class="sr-only">(current)</span></a></li>
          <li class="active"><a th:href="@{/GPA/}">Gestion Page d'Accueil</a></li>
            <li ><a th:href="@{/GPA/}">Gestion Interne</a></li>
              <li><a th:href="@{/GPA/}">Gestion Reseau Social</a></li>

        </ul>


        <ul class="nav navbar-nav navbar-right">

          <li class="dropdown">
            <a id="dLabel" data-target="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Plus <span class="caret"></span></a>
            <ul class="dropdown-menu" id="menu3" aria-labelledby="drop6">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>

          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<ul class="nav nav-tabs">
  <li role="presentation"><a th:href="@{/GPA/ListPub}">Pubblications</a></li>
  <li role="presentation" class="active"><a th:href="@{/GPA/LesQuestions}">Questions</a></li>
  <li role="presentation"><a th:href="@{/GPA/GestCoor}">Coordonnees</a></li>

</ul>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">QUESTIONS  </div>

    <!-- Table -->
    <table class="table table-hover" >
            <thead>
            <tr>
                <th>Auteur</th>
                <th>Question</th>
                <th>Date</th>
                <th>Mail</th>
                <th>Reponse</th>

                <th>Repondre</th>
                <th>Supprimer</th>
            </tr>
            </thead>

            <tbody>


                <tr th:each="q : ${ questionss }" >
            <!--div th:if='${q.reponseQuestion == ""}'-->
                <td th:hidden="${q.idQuestion}"></td>
                <td th:text="${q.authorQuestion}"></td>
                <td th:text="${q.textQuestion}"></td>
                <td th:text="${q.dateQuestion}"></td>
                <td th:text="${q.mailQuestion}"></td>
                <td th:text="${q.reponseQuestion}"></td>
                <td><a th:href="@{'/GPA/Reponse?id='+ ${q.idQuestion}}"><button type="submit" class="btn btn-success">Répondre</button></a></td>
                <td><a th:href="@{'/GPA/SupprQuest?id='+ ${q.idQuestion}}"><button type="submit" class="btn btn-danger">Supprimer</button></a></td>
            <!--/div-->
            </tr>
            </tbody>
        </table>
</div>



    </body>
</html>
