<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://thymeleaf.org">
    <head>
        <title> Gestion PA</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    </head>
    <body class="container">

      <!--nav class="navbar navbar-inverse"-->
        <nav class="navbar navbar-inverse">
        <div class="container-fluid">
        <div class="navbar-header">

        <a class="navbar-brand" href="#">AAPA</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

          <li class="active"><a th:href="@{/GPA/}">Accueil<span class="sr-only">(current)</span></a></li>
          <li><a th:href="@{/GPA/ListPub}">Gestion Page d'Accueil</a></li>
            <li ><a th:href="@{/GPA/}">Gestion Interne</a></li>
              <li><a th:href="@{/GPA/}">Gestion Reseau Social</a></li>
<!--
          <li class="active"><a th:href="@{/}">Accueil<span class="sr-only">(current)</span></a></li>
          <li><a th:href="@{/LesQuestions}">Questions</a></li>
            <li ><a th:href="@{/ListPub}">Publications</a></li>
              <li><a th:href="@{/GestCoor}">Coordonnées</a></li>
            <li><a th:href="@{/gestionfiles}">Gestion Des Dossiers</a></li>
            <li><a th:href="@{/Seedonations}">Liste Des Dons</a></li>
              <li><a th:href="@{/gestionstock}">Gestion Du Stock</a></li>
-->
        </ul>  
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <div class="col-md-6">
    <!-- Default panel contents -->
    <div class="panel-heading">Questions Sans Réponse </div>

    <!-- Table -->
    <table class="table table-hover" >
            <thead>
            <tr>
                <th>Auteur</th>
                <th>Question</th>
                <th>Date</th>
                <th>Mail</th>


                <th>Repondre</th>
                <th>Supprimer</th>
            </tr>
            </thead>

            <tbody>


                <tr th:each="ques : ${ qu }" >
            <div th:if='${ques.reponseQuestion == ""}'>
                <td th:hidden="${ques.idQuestion}"></td>
                <td th:text="${ques.authorQuestion}"></td>
                <td th:text="${ques.textQuestion}"></td>
                <td th:text="${ques.dateQuestion}"></td>
                <td th:text="${ques.mailQuestion}"></td>

                <td><a th:href="@{'/GPA/Reponse?id='+ ${ques.idQuestion}}"><button type="submit" class="btn btn-success">Répondre</button></a></td>
                <td><a th:href="@{'/GPA/SupprQuest?id='+ ${ques.idQuestion}}"><button type="submit" class="btn btn-danger">Supprimer</button></a></td>
            </div>
            </tr>
            </tbody>
        </table>
        <a th:href="@{/GPA/LesQuestions}"><button type="submit" class="btn btn-success">Voir touts les Questions</button></a>

  </div>




<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap.js"></script>



      
      <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Les Alarmes Des Dossiers</h3>
  </div>
  <div class="panel-body">
      <TABLE class="table table-hover"> 
          <thead>
  <TR> 
 <TH> Titre </TH> 
 <TH> Periodicité </TH> 
 <TH> Date De Debut </TH> 
 <TH> Date Dernier Traitement </TH> 
 <TH> Traiter </TH> 
  </TR> 
          </thead>
  <TR th:each="d : ${alarms}"  th:inline="text"> 
 <TD> [[${d.title}]] </TD> 
 <TD> [[${d.periodicite}]] </TD> 
 <TD> [[${d.dateDebut}]] </TD> 
 <TD> [[${d.dateDernierTraitement}]] </TD> 
 <TD> <a th:href="@{'/traiterAlarms?idal=' + ${d.idAlarm}}">
      <input type="button"
          value="Traiter" class="btn btn-success" /> </a> </TD> 
  </TR> 
      </TABLE>  
  </div>

</div>
      
      
    </body>
</html>
